<div class="login">
    <form [formGroup]="registerForm" class="loginForm" (ngSubmit)="register(registerForm.value)">
        <button class="btn-registrati" routerLink="/login">×</button>
        <div>
            <img src="../assets/logo.png" alt="logo" class="logo">
            <p class="title">Registrati</p>
            <input id="username" placeholder="username" class="inputFields" formControlName="username">
        </div>
        <div>
            <input id="password" placeholder="password" class="inputFields" formControlName="password">
        </div>
        <br><br>
        <button type="submit">
            <span>Registrati</span>
        </button>
    </form>
</div>