<div class="login">
    <div class="registrati">
        <button class="btn-registrati" routerLink="/login">X</button>
    </div>
    <form class="loginForm">
        <div>
            <img src="../assets/logo.png" alt="logo" class="logo">
            <p class="title">Registrati</p>
            <input id="email" placeholder="email" class="inputFields">
        </div>
        <div>
            <input id="password" placeholder="password" class="inputFields">
        </div>
        <br><br>
        <div>
            <button type="submit" class="btn-accedi">Registrati</button>
        </div>
    </form>
</div>