<app-menu [version]=4></app-menu>

<div class="buttons" *ngIf="ricerca==null; else search">
    <button class="primo" (click)="btnTop(null,8);" autofocus>Tutti</button>
    <button (click)="btnTop('preferiti',8);">Preferiti</button>
    <button (click)="btnTop('nascosto',8);">Nascosti</button>
</div>
<ng-template #search>
    <h1 class="ric">Ricerca</h1>
</ng-template>

<div class="masonry-wrapper">
    <div class="masonry" *ngIf="serieFiltrata?.length>0; else vuoto">
        <div class="masonry-item" *ngFor="let serie of serieFiltrata">
            <div class="masonry-content">
                <button class="share" (click)="share()">
                    <span class="material-icons">share</span>
                </button>
                <button class="like" *ngIf="!serie.preferiti" (click)="preferiti(serie.id)">
                    <span class="material-icons">favorite_border</span>
                </button>
                <button class="like" *ngIf="serie.preferiti" (click)="preferiti(serie.id)">
                    <span class="material-icons">favorite</span>
                </button>
                <img src="../assets/img/{{serie.nome | lowercase | removewhitespaces}}.jpg" class="img">
                <h3 class="masonry-title">{{serie.nome}}</h3>
                <p class="masonry-description">{{serie.descrizione}}</p>
                <span class="material-icons" id="more" routerLink="/dettaglio/{{serie.id}}">more_horiz</span>
            </div>
        </div>
    </div>
    <ng-template #vuoto>
        <h2 class="vuoto">Nessuna serie disponibile</h2>
    </ng-template>
    <div class="btn">
        <button *ngIf="mostra==false" (click)="btnBot()">Mostra altro</button>
        <button *ngIf="mostra==true" (click)="btnBot()">Mostra di meno</button>
    </div>
</div>