<app-menu [version]=3></app-menu>

<div class="buttons">
    <button class="primo" (click)="mostra=false;showList();" autofocus>Tutti</button>
    <button (click)="mostra=false;controllo='preferiti';showList('preferiti');">Preferiti</button>
    <button (click)="mostra=false;controllo='nascosto';showList('nascosto');">Nascosti</button>
</div>

<div class="masonry-wrapper">
    <div class="masonry">
        <div class="masonry-item" *ngFor="let serie of serieFiltrata">
            <div class="masonry-content">
                <button class="share">
                    <span class="material-icons">share</span>
                </button>
                <button class="like" *ngIf="!serie.preferiti" (click)="gestisciPreferiti(serie.id)">
                    <span class="material-icons">favorite_border</span>
                </button>
                <button class="like" *ngIf="serie.preferiti" (click)="gestisciPreferiti(serie.id)">
                    <span class="material-icons">favorite</span>
                </button>
                <img src="../assets/img/{{serie.nome | lowercase | removewhitespaces}}.jpg" class="img">
                <h3 class="masonry-title">{{serie.nome}}</h3>
                <p class="masonry-description">{{serie.descrizione}}</p>
                <span class="material-icons" id="more" routerLink="/dettaglio/{{serie.id}}">more_horiz</span>
            </div>
        </div>
    </div>

    <div class="btn">
        <button *ngIf="mostra==false" (click)="mostra=true;showList(controllo)">Mostra altro</button>
        <button *ngIf="mostra==true" (click)="mostra=false;showList(controllo)">Mostra di meno</button>
    </div>
</div>