<app-menu [version]=3></app-menu>
<div class="all">
    <div class="buttons">
        <button class="primo" (click)="filtra(0);mostra=false">Tutti</button>
        <button (click)="filtra(1);  mostra=false">Preferiti</button>
        <button (click)="filtra(2);  mostra=false">Nascosti</button>
    </div>
    <div>
        <ul>
            <ng-container *ngFor="let item of serieFiltrata; let i = index;">
                <li *ngIf="i<5 && mostra==false">
                    <div class="bottoni">
                        <ng-container *ngIf="!item.preferiti">
                            <button (click)="aggiungiPreferiti(item.id)"><span style="font-size:26px; color: black;">&#10084;</span></button>
                        </ng-container>
                        <ng-container *ngIf="item.preferiti">
                            <button (click)="rimuoviPreferiti(item.id)"><span style="font-size:26px; color: red;">&#10084;</span></button>
                        </ng-container>
                        <button class="icons"><img src="../assets/icone/share.png" ></button>

                        <button class="icons" (click)="show(i)"><img src="../assets/icone/dots.png"></button>
                        <ng-container *ngIf="daMostrare==i">
                            <div class="dropdown-content">
                                <a href="" class="items">mostra di più</a>
                                <hr width=100% size=1 color=#011D28>
                                <a href="" class="items">nascondi</a>
                            </div>
                        </ng-container>
                        <!--   <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                    </div>-->
                    </div>
                    <img src="/../assets/img/{{item.nome | lowercase | removewhitespaces}}.jpg" alt="" class="logo">
                    <span class="nome">{{item.nome}}</span> <br>
                    <span class="descrizione">{{item.descrizione}}</span>
                </li>
                <div class="btn">
                    <button *ngIf="i==4 && mostra==false;" (click)="mostra=true">Mostra di più</button>
                </div>
            </ng-container>
        </ul>
    </div>
    <div *ngIf="mostra==true">
        <ul>
            <ng-container *ngFor="let item of serieFiltrata; let i = index;">
                <li>
                    <div class="bottoni">
                        <ng-container *ngIf="!item.preferiti">
                            <button (click)="aggiungiPreferiti(item.id)"><span style="font-size:26px; color: black;">&#10084;</span></button>
                        </ng-container>
                        <ng-container *ngIf="item.preferiti">
                            <button (click)="rimuoviPreferiti(item.id)"><span style="font-size:26px; color: red;">&#10084;</span></button>
                        </ng-container>
                        <button class="icons"><img src="../assets/icone/share.png" ></button>
                        <button class="icons" (click)="show(i)"><img src="../assets/icone/dots.png"></button>
                        <ng-container *ngIf="daMostrare==i">
                            <div class="dropdown-content">
                                <a href="" class="items">mostra di più</a>
                                <hr width=100% size=1 color=#011D28>
                                <a href="" class="items">nascondi</a>
                            </div>
                        </ng-container>
                    </div>
                    <img src="/../assets/img/{{item.nome | lowercase | removewhitespaces}}.jpg" alt="" class="logo">
                    <span class="nome">{{item.nome}}</span><br>
                    <span class="descrizione">{{item.descrizione}}</span>
                </li>
            </ng-container>
            <div class="btn">
                <button (click)="mostra=false">Mostra di meno</button>
            </div>
        </ul>
    </div>
</div>