<app-menu [version]=1></app-menu>
<div class=presentazione>
    <h1>PROGRAMMERS CREED</h1>
    <h3>Benvenuti nel sito programmers creed, dove potrete vedere uno svariato numero di serie tv alla modica e onesta cifra di 800 euro al giorno iva esclusa. Grazie alla collaborazione con molte sale cinematografiche vi offriamo anche svariate serie in
        anteprima mondiale
    </h3>
</div>
<div class=container>
    <div id="proparallax">
        <img class="one" src="../assets/img/strangerthings.jpg" />
        <img class="two" src="../assets/img/sexeducation.jpg" />
        <img class="three" src="../assets/img/lucifer.jpg" />
    </div>
</div>
<div class="loghi">
    <a><img src="../assets/icone/facebook.png"></a>
    <a><img src="../assets/icone/instagram.png"></a>
    <a><img src="../assets/icone/telegram.png"></a>
    <a><img src="../assets/icone/snapchat.png"></a>
    <a><img src="../assets/icone/pinterest.png"></a>
</div>