<div class="login">
    <div class="registrati">
        <button class="btn-registrati" routerLink="/signin">+</button>
    </div>
    <form [formGroup]="loginForm" class="loginForm" (ngSubmit)="login(loginForm.value)">
        <div>
            <img src="../assets/logo.png" alt="logo" class="logo">
            <p class="title">Accedi</p>
            <input id="username" placeholder="nome utente" class="inputFields" formControlName="username">
        </div>
        <div>
            <input id="password" placeholder="password" class="inputFields" formControlName="password">
        </div>
        <div>
            <span class="password">memorizza password</span>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div>
            <button type="submit" class="btn-accedi">Accedi</button>
        </div>
    </form>
</div>