<app-menu [version]=2></app-menu>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br>
    <div class="container">    
        <div class="cards">
            <div class="card">
            
                <strong id="titolo">Nome dell'item</strong>
                <div class="descrizione">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
                    Nulla sollicitudin turpis eu tellus faucibus faucibus. <br>
                    Pellentesque tempus lectus vel porta lobortis. <br>
                    Sed blandit bibendum tellus at fermentum. <br>
                    Sed libero magna, auctor nec lectus sit amet, pretium iaculis purus. <br>
                    Nam malesuada lobortis neque eget auctor. Nam fringilla arcu libero. <br>
                    Sed maximus risus eget imperdiet feugiat. Nullam rutrum diam metus, <br>
                    quis venenatis turpis gravida vitae. <br>
                    Vestibulum pharetra scelerisque nibh non interdum. <br>
                </div>
                <br>
                <div class="cards">
                    <div class="card">
                        <img id="immagine" src="../assets/messi.jpg" alt="logo" class="logo">
                    </div>
                    <div class="card">
                        <p id="descrizione">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                </div>
            </div>



            <div class="card"><img id="immagine2" src="../assets/messi.jpg" alt="logo" class="logo"></div>
            <div class="card">

                <div class="testo">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
                    Nulla sollicitudin turpis eu tellus faucibus faucibus. <br>
                    Pellentesque tempus lectus vel porta lobortis. <br>
                    Sed blandit bibendum tellus at fermentum. <br>
                    Sed libero magna, auctor nec lectus sit amet, pretium iaculis purus. <br>
                    Nam malesuada lobortis neque eget auctor. Nam fringilla arcu libero. <br>
                    Sed maximus risus eget imperdiet feugiat. Nullam rutrum diam metus, <br>
                    quis venenatis turpis gravida vitae. <br>
                    Vestibulum pharetra scelerisque nibh non interdum. <br>
                </div>

                <div class="footer">
                    <a href="#" id="social" class="fa fa-facebook"></a>
                    <a href="#" id="social" class="fa fa-instagram"></a>
                    <a href="#" id="social" class="fa fa-telegram"></a>
                    <a href="#" id="social" class="fa fa-snapchat"></a>
                    <a href="#" id="social" class="fa fa-pinterest"></a>
                </div>

            </div>
        </div>
       
    </div>    

