<app-menu [version]=1></app-menu>
<div class="all">
    <div class="container">
        <h2 id="titolo"><strong>Inviaci un tuo Feedback</strong></h2>
        <form [formGroup]="feedbackForm" (ngSubmit)="invio()">
            <div>

                <div>
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" formControlName="nome" class="person">
                    <p *ngIf="nomeControl.status === 'INVALID' && nomeControl.dirty">Campo nome obbligatorio</p>
                </div>

                <div class="input-group input-group-icon" id="idCognome">
                    <label id="labelCognome" for="cognome">Cognome</label>
                    <input type="text" id="cognome" formControlName="cognome" class="person">
                    <p *ngIf="cognomeControl.status === 'INVALID' && cognomeControl.dirty">Campo cognome obbligatorio</p>
                </div>
            </div>


            <div>
                <label>Sesso</label>
                <div>
                    <div class="customSesso">
                        <select formControlName="sesso" class="gender">
                            <option value={{sesso}} *ngFor="let sesso of sessi"> 
                            <span class="optSesso"> {{sesso}}</span> </option>
                        </select>
                    </div>
                </div>
                <p *ngIf="sessoControl.status === 'INVALID' && sessoControl.dirty">Campo sesso obbligatorio</p>
            </div>
            <div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" id="email" formControlName="email" class="email">
                    <p *ngIf="emailControl.status === 'INVALID' && emailControl.dirty">Campo mail obbligatorio</p>
                </div>
            </div>
            <div>
                <div class="input-group input-group-icon">
                    <label for="telefono">Telefono</label>
                    <input type="text" id="telefono" formControlName="telefono" class="phone">
                    <p *ngIf="telefonoControl.status === 'INVALID' && telefonoControl.dirty">Campo telefono obbligatorio</p>
                </div>
            </div>
            <div class="row">
                <div class="input-group input-group-icon">
                    <label for="commenti"><span class="scritta">Commenti</span></label>
                    <textarea id="commenti" formControlName="commenti" rows="10" cols="15"></textarea>
                </div>
            </div>
            <button type="submit" [disabled]="feedbackForm.status === 'INVALID'" ng-class="disabled">Invio</button>
        </form>
    </div>
</div>