.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1px;
    background: rgb(1, 29, 40);
    background: linear-gradient(90deg, rgba(1, 29, 40, 1) 0%, rgba(75, 128, 171, 1) 35%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

.card {
    position: relative;
    margin: 20px;
    background-color: #dedede;
    width: 300px;
    align-items: center;
    border-radius: 20px;
    color: #00014d;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.content {
    margin: 10px;
    //margin-bottom: 20px;
    padding-bottom: 10px;
}

.title {
    font-size: 18pt;
}

.description {
    font-size: 10pt;
}

.img {
    margin: 25px;
    margin-bottom: 4px;
    height: 250px;
    width: 250px;
}