<app-menu [version]=3></app-menu>
<!--<div class="container">
    <div class="card" *ngFor="let serie of serie;">
        <img src="../assets/img/{{serie.nome | lowercase | removewhitespaces}}.jpg" class="img">
        <h1>{{serie.nome}}</h1>
        <p>{{serie.descrizione}}</p>
    </div>
</div>-->
<div class="buttons">
    <button class="primo" (click)="mostra=false;showList();controllo=null">Tutti</button>
    <button (click)="mostra=true;showList('preferiti');controllo='preferiti'">Preferiti</button>
    <button (click)="mostra=true;showList('nascosto');controllo='nascosto'">Nascosti</button>
</div>
<div class="container">
    <div class="card" *ngFor="let serie of serieFiltrata;let i=index">
        <img src="../assets/img/{{serie.nome | lowercase | removewhitespaces}}2.jpg" class="img">
        <h4 class="titolo">{{serie.nome}}</h4>
        <p class="desc">{{serie.descrizione}}</p>
    </div>
</div>
<div class="btn">
    <button *ngIf="mostra==false && controllo==null" (click)="mostra=true;showList()">Mostra altro</button>
    <button *ngIf="mostra==true && controllo==null" (click)="mostra=false;showList()">Mostra di meno</button>
</div>