<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<nav class="menu">
    <ol>
        <li class="menu-item" *ngFor="let menuItem of menuList">
            <a href=#0 [routerLink]="menuItem.desc" (click)="change(menuItem.id)">{{menuItem.desc}}</a>
        </li>
        <li class="menu-Item" *ngIf="cerca==true">
            <form action="">
                <input type="search">
                <i class="fa fa-search"></i>
            </form>
        </li>
        <li class="menu-item">
            <a href="#0" [routerLink]="['Home']" (click)="change(0)"><!--<img src="">-->LOGO</a>
        </li>
    </ol>
</nav>