<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<nav class="menu">
    <ol>
        <li *ngIf="version===2" class="menu-item" id="freccia" (click)="back()">
            <a id="align">
                <span class="material-icons">arrow_back</span>
            </a>
        </li>
        <li class="menu-item" *ngFor="let menuItem of menuList">
            <a href=#0 routerLink="/{{menuItem.desc|lowercase}}" (click)="change(menuItem.id)">{{menuItem.desc}}</a>
        </li>

        <li class="menu-Item" *ngIf="version==3">
            <form>
                <input type="text" #search>
                <i class="fa fa-search" (click)="ricerca(search.value)"></i>
            </form>
        </li>
        <li class="menu-item" id="logo">
            <a href=#0 routerLink="/home" (click)="change(0) "> <img src="../assets/logo.png" alt="logo" class="logo"></a>
        </li>
    </ol>
</nav>